.card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.item {
  height: 50px;
  /* width:  */
  background-color: aliceblue;
}
