.container {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column-reverse; */
  align-items: stretch;
  height: 100vh;
  border: 2px solid black;
  gap: 30px;
}

.item {
  width: 250px;
  /* height: 250px; */
  border: 2px solid black;
}

.second {
  width: 250px;
  /* height: 500px; */
  border: 2px solid black;
}
