* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.profile-card {
  width: 300px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
