* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}

.box2 {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 0 auto;
  border-radius: 50%;
}
